:root {
  --v-font-family: "Plus Jakarta Sans", sans-serif;
}

html,
body,
#app {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6,
.text-body-1,
.text-body-2,
.text-caption,
.text-overline,
.text-subtitle-1,
.text-subtitle-2 {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}